/* Table of Content

1. Code for circle loader
2. Code for instruction
3. Code for performance table */


/* 1. Code for circle loader */
html,
.body
{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 30%;
}

.circle-breath 
{
  display: flex;
  justify-content: center;
}

.empty-circle
{
  stroke: #cccccc;
  stroke-width: 14;
  fill: transparent;
}

.load
{
  fill-opacity: 0;
  fill: url(#Gradient);
  stroke-dasharray: 628;
  stroke-linecap: round;
  stroke-width: 14;
  stroke: url(#Gradient);
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  animation: load 105s linear infinite;
  animation-delay: 34.5s;
}

.timer
{
  fill: url(#Gradient);
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

@keyframes load {
  0% { stroke-dashoffset: 638;}
  60% { stroke-dashoffset: 0;}
  /* where the circle delay for 10sec */
  100% { stroke-dashoffset: 0;} 
}

/* 2. Code for instruction */
.breath-in {
  display: block;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
}

#breath-title {
  font-size: 24px;
}

#breath-intro {
  border-radius: 25px;
  border: 3px solid  #f9e6ff;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-transform: none;
}

#breath-count {
  color: #000;
}
#breath-count:after {
  content:"";
  animation: breathing 105s linear infinite;
}

@keyframes breathing {
  0% {
    content: "Ready?";
  }
  20% {
    content: "Ready?";
  }
  22% {
    content: "It's going to start in 3";
  }
  24% {
    content: "It's going to start in 2";
  }
  26% {
    content: "It's going to start in 1";
  }
  28% {
    content: "Take a deep breath for 3";
  }
  30% {
    content: "Take a deep breath for 2";
  }
  32% {
    content: "Take a deep breath for 1";
  }
  34% {
    content: "Hold your breath";
  }
  40% {
    content: "Hold your breath";
  }
  70% {
    content: "Hold your breath";
  }
  90% {
    content: "Hold your breath";
  }
  100% {
    content: "Hold your breath";
  }
}

/* 3. Code for performance table */
.table-breath {
  border:0;
  display: block;
  justify-content: center;
}

table {
  align-items: center;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px;
}

table th,
table td {
  padding: 8px;
  text-align: center;
}

table th {
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    top: 60%;
  }

  table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}






  
  



